* {
    background-color: rgb(248, 224, 194);
}

nav {
    background: #;
    display: flex;
    align-items: center;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
}

nav > .logo > img {
    width: 200px;
}

nav > .nav-items {
    margin-left: 20px;
    text-align: right;
}

nav > .nav-items > a {
    color: #000;
    font-size: 20px;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
    transition: 0.5s;
}

nav > .nav-items > a:hover {
    color: #7203fa;
}

h1 {
    margin-top: 250px;
    margin-bottom: 100px;
    font-size: 60px;
    text-align: center;
}

.p-1 {
    font-size: 25px;
    text-align: center;
}

.p-2 {
    font-size: 25px;
    text-align: center;
}

footer {
    margin-top: 100px;
}