nav {
    background: #cac8c8;
    display: flex;
    align-items: center;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
}

nav > .logo > img {
    width: 200px;
}

nav > .nav-items {
    margin-left: 20px;
    text-align: right;
}

nav > .nav-items > a {
    color: #694646;
    font-size: 20px;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
    transition: 0.5s;
}

nav > .nav-items > a:hover {
    color: #000;
}

.background_image {
    margin-top: 75px;
}

.container {
    position: relative;
    text-align: center;
    color: white;

.headline {
    font-size: 50px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.p-1 {
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.p-2 {
    font-size: 20px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_text {
    font-family: monospace;
    color: #b8e67c;
}

footer {
    margin-top: 100px;
}